* {
    background-color: #b9e2fa;
    font-family: 'Times New Roman', Arial, sans-serif;
}

/* Footer */
#main {
    position: relative;
    z-index: 1;
    box-shadow: 0 3px 3px rgba(0,0,0,0.2);
    background-image: linear-gradient(rgb(249, 249, 249), rgb(226, 185, 247));
}

.footer {
    background-color: rgba(245, 245, 227, 0.847);
    height: 200px;
    position: relative;
    z-index: -2;
}

.footer-item {
    color: rgb(52, 51, 51);
}

.footer-item:hover {
    text-decoration: underline;
}

.content {
    width: 960px;
    position: fixed;
    left: 50%;
    bottom: 0;
    margin-left: -480px;
    z-index: -1;
    padding-bottom: 20px;
    padding-top: 20px;
}

.container {
    alignItems: center;
}