* {
    background-color: #b9e2fa;
    font-family: 'Times New Roman', Arial, sans-serif;
}

.content {
    width: 960px;
    position: fixed;
    left: 50%;
    bottom: 0;
    margin-left: -480px;
    z-index: -1;
    padding-bottom: 20px;
    padding-top: 20px;
}

.container {
    alignItems: center;
}